<h1>Hello! </h1>
<p>My name is {{ name }} and I like to party in my favorite city, {{Bootcamp}}</p>
<img src="https://media.giphy.com/media/mp1JYId8n0t3y/giphy.gif" alt="">
<h1>Here are the cities where I have lived!</h1>
<ul>
    <li>{{cities[0]}}</li>
    <li>{{cities[1]}}</li>
    <li>{{cities[2]}}</li>
    <li>{{cities[3]}}</li>
</ul>

<p>I live in {{address}} and my life moto is: "{{message}}"</p>

<p>I consider myself an {{info.name}} and I plan to graduate the {{info.campus}} campus in {{info.year}}</p>

<p>How would my friends describe me? They would say "{{info.descr.content}}"</p>

{{> myInfo}}
{{> myBootcamp}}