<div class="my-bootcamp">
<h2>I am attending the bootcamp in {{ bootcamp }}</h2>
<h4> Bootcamp is at {{ info.name }}</h4>
<h4> on the campus in {{ info.campus }}</h4>
<p>Starting in {{ info.year }} </p>
  
<p>This is what I have to say about my bootcamp: {{info.descr.content}}</p>
</div>
