<div class="my-info">  
  <h1>Hello {{ name }} </h1>
  <img src="http://giphygifs.s3.amazonaws.com/media/FQyQEYd0KlYQ/giphy.gif" alt="" height= "150px">
  <p>I am attending the bootcamp in {{ bootcamp }}</p>
<h3>Here is my info</h3>
  <h4>
    I am {{ info.name }}
  </h4>
  <h4>
    In {{ info.campus }}
  </h4>
  <p>That is what I have to say about my bootcamp: {{info.descr.content}}</p>
</div>